// .container {
//   width: 320px;
//   margin: 0 auto;

//   @media (min-width: $tablet-width) {
//     width: 768px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 1366px;
//   }
// }

.container {
  max-width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 678px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;
  }
}
